<div class="container bootstrap snippet">
  <div class="panel-body inf-content">
    <div class="row">
      <div class="col-md-2">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "rounded-circle image-show-profile" %>
<!--          <img src="<%#= url_for(@user.avatar) %>" alt="<%#= @user.name %> Avatar" height="100" width="100" class="img-rounded">-->
          <%#= image_tag( @user.avatar.variant(resize: "50*50"), class: "img-circle img-thumbnail isTooltip") %>
        <% else %>
            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/user-453533-fdadfd.png" data-original-title="Usuario">
        <% end %>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="title-profile-card"><strong>Information</strong></div>
        <div class="table-responsive">
          <table class="table table-condensed table-responsive table-user-information">
            <tbody>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-asterisk text-primary"></span>
                  Identificacion
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.id %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-user  text-primary"></span>
                  Name
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.name %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-cloud text-primary"></span>
                  Role
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.role %>
              </td>
            </tr>

            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-bookmark text-primary"></span>
                  Email
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.email %>
              </td>
            </tr>


            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-eye-open text-primary"></span>
                  Address
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.address %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-envelope text-primary"></span>
                  Website
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.website %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Phone Number
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.phoneNumber %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Description
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.description %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <span class="glyphicon glyphicon-calendar text-primary"></span>
                  Time created
                </strong>
              </td>
              <td class="text-primary">
                <%= @user.created_at %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <% if @user.role == "Company" %>
          <div><strong>All Places</strong></div>
          <% @user.places.each do |f| %>
            <!--          temp version, change when done with places-->
            <%= link_to "#{f.name}", place_path(f.id) %><br>
          <% end %>
          </div>
        <% end %>
        </div>
  </div>
</div>