<%= render 'menubar' %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="topic"><h2>Edit Review</h2></div>
    <%= form_for(@review, url: review_path(@review), html: {method: :put}) do |f| %>
      <%= render "devise/shared/error_messages", resource: f.object %>

      <div class="form-group">
        <%= f.label :rating %>
        <%= f.select :rating, [1, 2, 3, 4, 5], {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: "form-control", placeholder: "content",size: "30x10" %>
      </div>
      <%= f.submit "Update", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>


