<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container container-body">
      <% flash.each do |type, message|%>
        <%#= content_tag(:div, message, class: "alert alert-#{type}")%>
        <div class="alert alert-<%= type %>"><%= message %></div>
      <% end %>
      <div class="main_body"><%= yield %></div>

      <hr>

    </div>
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %>



  </body>

</html>
